cloud_id = "b1g7mh55020i2hpup3cj"
folder_id = "b1g4871feed9nkfl3dnu"
zone = "ru-central1-a"
image_id = "fd8mmtvlncqsvkhto5s6"
public_key_path = "~/.ssh/appuser.pub"
subnet_id = "e9bem33uhju28r5i7pnu"
service_account_key_file = "key.json"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9b16qtd0d5ugpoht94h"
private_key_path         = "~/.ssh/appuser"
app_disk_image           = "fd8nki45lro26b95dab9"
db_disk_image            = "fd8tk2mhtjt2rjlu1lqb"
app_cores                = "2"
app_memory               = "4"
app_name                 = "reddit-app"
app_tags                 = "reddit-app"
db_cores                 = "2"
db_memory                = "4"
db_name                  = "reddit-db"
db_tags                  = "reddit-db"
