{
    "service_account_key_file": "key.json",
    "folder_id": "asaasa3311411bcde",
    "source_image_id": "wwww999776wfff77w",
    "disk_size_gb": "15",
    "image_description": "ubudsdgg22ff",
    "key_file":"packer/files/key.json"
}
